<div id="search-component">
  <h4>Hero Search</h4>
  <input #searchBox id="search-box"
         (keyup)="search(searchBox.value)"/>
  <div>
    <!-- The *ngFor can't do anything with an Observable until you route it through the async pipe (AsyncPipe) -->
    <div *ngFor="let hero of heroes | async"
         (click)="goToDetail(hero)" class="search-result">
      {{hero.name}}
    </div>
  </div>
</div>
